@model WebContacts.Models.ContactModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContactModel</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {
            <dt>
                Avatar
            </dt>
            <dd>
                <img id="userPic" src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" class="smallSize"/>
                <div id="fullsize"></div>
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    //var userPicture = $("#userPic");
    //currentClass = userPicture.attr('class');
    //userPicture.click(function(){
    //    alert("Clicked!");
    //});
    //userPicture.click(function () {
    //        currentClass = userPicture.attr('class');
    //        userPicture.removeClass(currentClass);
    //        alert("Clicked");
    //    });
    var $tooltip = $('#fullsize');

    $('.img').on('mouseenter', function () {
        var img = this,
            $img = $(img),
            offset = $img.offset();

        $tooltip
        .css({
            'top': offset.top,
            'left': offset.left
        })
        .append($img.clone())
        .removeClass('hidden');
    });

    $tooltip.on('mouseleave', function () {
        $tooltip.empty().addClass('hidden');
    });
</script>

